Package: sh.litten.switchthecolors
Name: SwitchTheColors
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Change the color of your Switches!
Maintainer: Litten <hello@litten.sh>
Author: Litten <hello@litten.sh>
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 168
